.navbar-home {
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Position at the top */
  left: 0; /* Position on the left */
  display: flex;
  flex-direction: row;
  justify-content: start; /* Align items to the start */
  align-items: start; /* Align items to the start */
  padding: 15px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.burger {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #333;
  top: 0;
  left: 0;
  height: 32px;
  width: 100vw;
  margin-left: 20px;
  transition: transform 0.3s ease-in-out;
}
