.carta-shower {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 20px 20px 10px 20px;
  border: 20px solid #1315a2;
  border-radius: 30px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  transition: none;
}

.carta-shower .carta-shower-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.carta-shower-button {
  background-color: #1315a2;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
}

.carta-shower-button:hover {
  cursor: pointer;
  background-color: #3a3dd2;
}

.carta {
  &.blocked {
    opacity: 0.8;
    filter: grayscale(100%);
  }
  &.not-blocked {
    cursor: pointer;
  }
  &.not-blocked:hover {
    transform: scale(1.02);
  }
}
