.dados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dados h1 {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  color: #1315a2;
  font-size: 40px;
  margin: 20px;
  min-width: 100px;
    
  text-align: center;
}

.dados button {
  background-color: #1315a2;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;

  border: none;
  font-size: 20px;
}

.dados button:hover {
  cursor: pointer;
  background-color: #3a3dd2;
}
