.turno {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100vw;
  height: 100vh;

  background-color: rgb(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#turno-dados {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;

  h1 {
    color: white;
    font-size: 50px;
    margin-top: 270px;
    margin-bottom: 10px;
  }
}

#turno-cartas {
  position: relative;
  padding: 15px;
  background-color: rgb(201, 194, 194);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  &.sospecha {
    border: 20px solid #1315a2;
  }

  &.acusacion {
    border: 20px solid #a21513;
  }
}

#turno-cartas .turno-boton-acusacion-final {
  position: absolute;
  top: 1%;
  right: 0.5%;
  margin: 0;
  z-index: 10;

  width: fit-content;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;

  min-width: 175px;

  &.acusacion {
    background-color: #1315a2;
    &:hover {
      cursor: pointer;
      background-color: #3a3dd2;
    }
  }

  &.sospecha {
    background-color: #a21513;
    &:hover {
      cursor: pointer;
      background-color: #d23a3a;
    }
  }
}

#turno-cartas .turno-boton-sospecha {
  width: fit-content;
  margin-top: 30px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;

  min-width: 180px;

  &.sospecha {
    background-color: #1315a2;
    &:hover {
      cursor: pointer;
      background-color: #3a3dd2;
    }
  }

  &.acusacion {
    background-color: #a21513;
    &:hover {
      cursor: pointer;
      background-color: #d23a3a;
    }
  }
}

.carta-quien,
.carta-arma,
.carta-donde {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: flex-start;
  align-items: center;
  gap: 10px;
}

#turno-tablero {
  /* Tamaño del tablero */
  width: 696px;
  height: 696px;

  h1 {
    position: absolute;
    bottom: 90px;
    width: inherit;
    display: flex;
    justify-content: center;
    color: white;
  }
}

.tu-turno-texto {
  font-size: 200px;
  color: white;
}

.container-cartas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 100px;
}
