.main-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.users-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 694px; /* Altura del tablero */
  padding: 0 5px;
  font-size: 20px;
  color: #fff;
  background-color: #ffffff49;

  width: 200px;

  &.left {
    align-items: flex-end;
    border-radius: 20px 0px 0px 20px;
  }

  &.right {
    align-items: flex-start;
    border-radius: 0px 20px 20px 0px;
  }
}
